* {
    box-sizing: border-box; 
    font-size: 0px;
}

body {
    border: 50px solid white;
}

div {
    display: inline-block;
    border: 10px solid white;
    height: 150px;
    width: 100%;
}

.color1 {
    background-color: #F5C6D6;
}

.color2 {
    background-color: #EE2E84;
}

.color3 {
    background-color: #85CFD8;
}

.color4 {
    background-color: #8DC63F;
}

.color5 {
    background-color: #E76E34;
}

@media (min-width: 769px) {
    .color2 {
        width: 25%;
    }
    
    .color3 {
        width: 50%;
    }
    
    .color4 {
        width: 75%;
    }
    
    .color5 {
        width: 25%;
    }
}